<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
</head>
<main>
    <div>
        <h1>{{ details.name }}</h1>
        <nav>
            <a href="{% url 'edit_details' details.id %}">Edit</a>
        </nav>
        <p>
            <a href="{% url 'todo_list_delete' details.id %}">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in details.items.all %}
                <tr>
                    <td>
                        <a href ="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
                    </td>
                    <td>{{ item.due_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</html>
